<h4>Add a ToDo</h4>
<form  #myForm="ngForm" (ngSubmit)="addTodo()">
    <div class="form-group my3 mx3 text-center">
      <label for="title">Title</label>
      <input type="title" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="Title" placeholder="Enter Title">
      <small id="title" class="form-text text-muted">Small Steps leads to BIG results</small>
    
    </div>
    <div class="form-group">
      <label for="desc">Description </label>
      <input type="text" [(ngModel)] ="desc" class="form-control"  name="desc" id="desc" placeholder="Enter Description">
    </div>
 
    <button type="submit" class="btn btn-success btn-sm"  >Add</button>
  </form>
  <!--   -->