<div class="text-center">
  <app-add-todos (addTodoEvent)="addfunc($event)"></app-add-todos>
  <h4>Your Existing ToDo's</h4>

  <div *ngIf="this.todos.length === 0; else elseBlock">No Todos to display</div> 
  <ng-template #elseBlock> 
    <div class="container my-4">
      <div class="row">
        <div class="col-md-4 mb-2" *ngFor="let todo of todos; index as i">
          <!-- sending this todo set into another component for its styling  -->
          <app-todo-item 
            class="text-center todo-item" 
            [todo]="todo" 
            [i]="i" 
            (todoDelete)="deleteFunc($event)" 
            (todoCheckBox)="toggleTodo($event)">
            {{todo.title}}--{{todo.desc}}
          </app-todo-item>
        </div>
      </div>
    </div>
  </ng-template>

  <div style="position: fixed; top: 60px; right: 10px; display: flex;">
    <button type="button" class="btn btn-secondary border-light" (click)="clearAll()">Clear All Todos</button>
    <div style="margin-left: 0px;">
      <button type="button" class="btn btn-secondary border-light" (click)="clearAllDone()">Clear Completed Todos</button>
    </div>
  </div>
</div>
